body {
  background-color: #eddbc7; }

.top {
  width: 20%; }
  .top__img {
    width: 100%;
    mix-blend-mode: color-burn; }
    @media (max-width: 1200px) {
      .top__img {
        width: 50%; } }

.main {
  margin: 0 auto;
  width: 50%;
  transform: translate(-50%, -50%); }
  .main__img {
    width: 25%;
    clip-path: circle(50% at 50% 50%); }

.wrapper {
  position: relative; }

.image {
  width: 24%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  mix-blend-mode: darken; }

.name {
  text-align: center;
  color: white;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 0.5rem;
  position: absolute;
  top: 46px;
  left: 34%; }
