body {
  background-color: #eddbc7;
  color: red; }

.top {
  width: 20%; }
  .top__img {
    width: 100%;
    mix-blend-mode: color-burn; }
    @media (max-width: 1200px) {
      .top__img {
        width: 50%; } }
